#navbar{
    margin-top: -35px;
}

nav{
    background-color: #222;
    margin-top: 0;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 2rem;
    border-bottom: 4px solid #ffcc00;
}

nav h1{
    font-size: 50px;
    /* padding-left: 18px; */
    color: #ffcc00;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}